@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(to bottom right, #393e46, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  /* margin-top: 1rem; */
  text-align: center;
  margin: 1rem 1rem 0 1rem;
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}
textarea::placeholder {
  font: inherit;
  padding: 5px;
  color: rgba(0, 0, 0, 0.623);
  font-size: 1rem;
}
h4 {
  font-weight: none;
  font-weight: normal;
  margin: 0.5rem 0;
}
hr{
  color: rgba(0, 0, 0, 0.300);
  margin: 1rem auto;
}
.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: 2rem 1rem;
  box-shadow: 0px 10px 39px 0px rgba(0,0,0,0.1);
}
.form-container__name,
.form-container__address,
.form-container__contact,
.form-container__info {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: stretch;
}
.form-container__contact div {
  width: 100%;
}
.form-container__info div {
  width: 100%;
}

.form-container__upload label {
  width: 100%;
}

.form-container__upload label div {
  text-align: center;
  border: 1px dotted black;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.form-container__upload label i {
  font-size: 1.5rem;
}
.form-container__upload label h4 {
  font-weight: bold;
  font-size: 0.8rem;
}
.form-container__upload span{
  background-color: #dae6ff;
  display: inline-block;
  margin: 2px 0;
  border-radius: 5px;
}

form label {
  display: inline-block;
  font-size: 0.65rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.25rem;
}
form input:not([type="radio"]),
form select {
  height: 2rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  background: none;
  flex: 1;
}


.worktype input,
.vetstatus input,
.gender input,
.disability input,
.race input{
  width: 1rem;
  height: 1rem;
}
.worktype label,
.vetstatus label,
.gender label,
.disability label,
.race label{
  font-size: .8rem;
  color: black;
}
input.invalid {
  background-color: #ffdddd;
}

.form-container__buttons {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.form-container__buttons .btn-prev {
  background-color: #e5e7f2;
}
.form-container__buttons .btn-prev:hover {
  background-color: #ced0da;
}
.form-container__buttons .btn-next {
  background-color: #2e69ff;
  color: white;
  margin-left: auto;
}
.form-container__buttons .btn-next:hover {
  background-color: #295fe6;
}

.form-container__buttons .btn-submit {
  color: white;
  background: linear-gradient(to bottom, #3d7ac7, #52a1e4);
}

.form-container__buttons .btn-submit:hover {
  filter: brightness(110%);
}

button {
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: .9rem;
  min-width: 120px;
  min-height: 40px;
}

.form {
  display: none;
}
.form.active{
  display: block;
}



/* Utility */
.flex {
  flex: 1;
}

@media screen and (min-width: 600px) {
  .form-container__contact div {
    flex: 1;
  }
  .form-container__info div {
    flex: 1;
  }
  .w-h {
    width: 50%;
  }
}

@media screen and (min-width: 750px) {
  .form-container {
    width: 40rem;
  }
  .form-container__name,
  .form-container__address {
    gap: 1rem;
  }

  form input,
  form select {
    width: 100%;
  }

  .form-container__contact div {
    flex: 1;
  }

  .w-h {
    width: 50%;
  }
}
