@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(to bottom right, #393e46, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

i {
    font-size: 5rem;
}
a {
    margin-top: 1rem;
    color: white;
}